<%- include('./prerequisites/header'); %>
    <%- include('./prerequisites/navBar'); %>
  <h1 align = 'center'> DASHBOARD </h1>
  <div class="container">
    <div class="well">


       <strong>id</strong>: <%= userDash.id %><br>
       <strong>username</strong>: <%= userDash.username %><br>
       <strong>email</strong>: <%= userDash.email %>



    </div>
  </div>

</body>
</html>
