<%- include('./prerequisites/header'); %>
 <%- include('./prerequisites/navBar'); %>
  <div class="container">
  <% if(errors) { %>
    <% errors.forEach((elem) => { %>
      <div class="alert alert-danger" role="alert">
      <p><%= elem.msg %></p>
      </div>
    <% })} %>
 <form class="" action="/authentification/login" method="post">
   <div class="form-group">
     <label for="username">Username</label>
     <input type="text" name="username" value="" class="form-control" placeholder="username">

  </div>

 <div class="form-group">
   <label for="password">Password</label>
   <input type="password" name="password" value="" class="form-control" placeholder="password">
 </div>


 <button type="submit" class="btn btn-primary">Submit</button>

 </form>

</div>
  </body>
</html>
