    <%- include('./prerequisites/header'); %>
      <%- include('./prerequisites/navBar'); %>
    <% let requestURL = '/products', tableType = products; %>

    <h1 align = 'center'> Hello World! </h1>
    <div class="container">

    <%- include('./widgets/insertForm', {requestURL: requestURL,
    tableType: tableType}); %>

    <table class="table table-hover" id="productsTable">
      <colgroup>
         <col class="col-xs-1">
         <col class="col-xs-3">
         <col class="col-xs-3">
         <col class="col-xs-3">
         <col class="col-xs-3">
       </colgroup>
      <tr>
        <th>id</th>
        <th>Nume</th>
        <th>Categorie</th>
        <th>Pret</th>
        <th> Action </th>
      </tr>
      <%- include('./widgets/productsTable', {requestURL: requestURL}) %>
  </table>
</container>
  </body>
</html>
