<%- include('./prerequisites/header'); %>
 <%- include('./prerequisites/navBar'); %>
  <div class="container">
    <% if(errors) { %>
    <% errors.forEach((elem) => { %>
      <div class="alert alert-danger" role="alert">
      <p><%= elem.msg %></p>
      </div>
    <% })} %>
 <!-- <form class="" action="/authentification/register" method="post">
   <div class="form-group">
     <label for="username">Username</label>
     <input type="text" name="username" value="" class="form-control" placeholder="username">

  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" name="email" value="" class="form-control" placeholder="email">

 </div>
 <div class="form-group">
   <label for="password">Password</label>
   <input type="password" name="password" value="" class="form-control" placeholder="password">

 </div>

 <div class="form-group">
   <label for="passwordMatch">Re-enter Password</label>
   <input type="password" name="passwordMatch" value="" class="form-control" placeholder="password">
 </div>

 <button type="submit" class="btn btn-primary">Submit</button>

</form> -->

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist" >

  <li class="nav-item active" style="width: 50%; text-align: center; font-size: 20px;">
        <a class="nav-link " data-toggle="tab" href="#home" role="tab" style="color: #ff6666;" id="AAA">Home</a>
  </li>

  <li class="nav-item" id="myTab" style="width: 50%; text-align: center; font-size: 20px">
    <a class="nav-link" data-toggle="tab" href="#profile" role="tab"  style="color: black;" id="BBB">Profile</a>
  </li>

</ul>

<!-- Tab panes -->
<div class="tab-content" >
  <div class="tab-pane fade active in" id="home" role="tabpanel"  >
    <form class="" action="" method="" id='registerForm' >
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" value="" class="form-control" placeholder="username">

     </div>
     <div class="form-group">
       <label for="email">Email</label>
       <input type="email" name="email" value="" class="form-control" placeholder="email">

    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" value="" class="form-control" placeholder="password">

    </div>

    <div class="form-group">
      <label for="passwordMatch">Re-enter Password</label>
      <input type="password" name="passwordMatch" value="" class="form-control" placeholder="password">
    </div>
    <div class="form-group">

      <input type="submit"  value="Submit" class="form-control" id="registerBtn" form="registerForm">
    </div>


   </form>
 </div>
  <div class="tab-pane fade" id="profile" role="tabpanel">
    <form class="" action="" method="" id="UserInfo">
      <div class="form-group">
        <label for="nume">Nume</label>
        <input type="text" name="Nume" value="" class="form-control" placeholder="nume">

     </div>
     <div class="form-group">
       <label for="prenume">Prenume</label>
       <input type="text" name="Prenume" value="" class="form-control" placeholder="prenume">

    </div>
    <div class="form-group">
      <label for="adresa">Adresa</label>
      <input type="text" name="Adresa" value="" class="form-control" placeholder="adresa">

    </div>

    <div class="form-group">
      <label for="telefon">Telefon</label>
      <input type="text" name="Telefon" value="" class="form-control" placeholder="telefon">
    </div>
    <div class="form-group">
      <label for="Tip">Tip</label>
      <input type="text" name="Tip" value="" class="form-control" placeholder="Tip">
    </div>
    <div class="form-group">

    <input type="submit"  value="Submit" class="form-control" id="bla" form="UserInfo">
    </div>


   </form>
  </div>
</div>

</div>

<!-- <script type="text/javascript">
  $('#bla').on('click', (event) => {
    event.preventDefault();
    $('#myTab a').tab('show');
  });
</script> -->

  </body>
</html>
