 <%- include('./prerequisites/header'); %>
  <%- include('./prerequisites/navBar'); %>
      <% let requestURL = `/${users[0].Tip}s`, tableType = users; %>
      <% console.log(requestURL); console.log('FUUUK');%>

    <h1 align = 'center'> Hello World! </h1>
    <div class="container">
     <%- include('./widgets/insertForm', {requestURL: requestURL, tableType: tableType}); %>

    <table class="table table-hover" id="usersTable">
      <colgroup>
         <col class="col-lg-1">
         <col class="col-lg-1">
         <col class="col-lg-1">
         <col class="col-lg-1">
         <col class="col-lg-1">
         <col class="col-lg-1">
         <col class="col-lg-1">
         <col class="col-lg-1">
       </colgroup>
      <tr>
        <th>id</th>
        <th>Nume</th>
        <th>Prenume</th>
        <th>Adresa</th>
        <th>Telefon</th>
        <th>Tip</th>
        <th> Action </th>
      </tr>

       <%- include('./widgets/userTable') %>
  </table>
</container>
  </body>
</html>
