<button type="button" class="btn btn-warning btn-lg center-block" data-toggle="modal" data-target="#myModal" >INSERT</button>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title"> INSERT NEW </h3>
      </div>
      <div class="modal-body">

        <form class="" action="<%= requestURL %>/form" method="post">
          <% for (var variable in tableType[0].dataValues) {%>
          <% if(variable !== 'id' && variable !== 'createdAt' && variable !== 'updatedAt') {%>
          <input type="text" name="<%= variable %>" value="">
          <label for=""><%= variable %></label>
          <% }};%>
          <br><br><input type="submit" class="btn btn-success" value="submit">
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
      </div>
    </div>

  </div>
</div>
