<% products.forEach((elem) => { %>
  <tr id="<%= elem.id %>" requestURL='<%= requestURL %>'>
  <td><%= elem.id %></td>
  <td><%= elem.Nume %></td>
  <td><%= elem.Categorie %></td>
  <td><%= elem.Pret %></td>
  <td> <button type="button" class="btn btn-warning btn-sm" id="editButton">edit</button>
  <button type="button" class="btn btn-danger btn-sm"  id="deleteButton" >delete</button></td>
  </tr>

<% }); %>
