<% users.forEach((elem, index) => { %>
  <tr id="<%= elem.id %>" requestURL="<%= elem.Tip %>s">
  <td><%= elem.id %></td>
  <td><%= elem.Nume %></td>
  <td><%= elem.Prenume %></td>
  <td><%= elem.Adresa %></td>
  <td><%= elem.Telefon %></td>
  <td><%= elem.Tip %></td>
  <td> <button type="button" class="btn btn-warning btn-sm" id="editButton">edit</button>
  <button type="button" class="btn btn-danger btn-sm"  id="deleteButton" >delete</button></td>
  </tr>
<% }); %>
