<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">HI THERE</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">HOME</a></li>
      <li><a href="/products">PRODUCTS</a></li>
      <li><a href="/clients">CLIENTS</a></li>
      <li><a href="/sellers">SELLERS</a></li>

      <%if(isAuthenticated){ %>

        <li><a href="/authentification/logout">LOGOUT</a></li>
        <li><a href="/authentification/dashboard">DASHBOARD</a></li>

        <% } else { %>

          <li><a href="/authentification/register/registerForm">REGISTER</a></li>
          <li><a href="/authentification/login">LOGIN</a></li>

        <% } %>



    </ul>
  </div>
</nav>
